<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identificador de faixa etária</title>
</head>
<body>
    <p>Idade: <%= idade %></p>
    <p>Faixa etária: <%= faixaEtaria %></p>
</body>
</html>