<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identificador de faixa etária</title>
</head>
<body>
    <h3>Olá, seja bem vindo!</h3>
    <h3>Calcule sua faixa etária! Digite sua idade abaixo: </h3><br>
    <form action="/" method="post">
        <label for="Idade">Idade: </label>
        <input type="text" id="idade" name="idade" placeholder="Sua idade" required><br><br>
        <input type="submit" id="botao" name="cadastrar" value="Calcular">
    </form>
</body>
</html>