<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
</head>
<body>
    <h3>Bem vindo à página principal da Atividade 1 de Desenvolvimento Web II!</h3>
    <h3>Escolha uma página para se redirecionar: </h3><br>
    <form action="/", method="post">
        <a href="/faixa-etaria" name="nomePagina" id="identificadorFaixaEtaria">Identificador de Faixa Etária</a><br>
        <a href="/notas" name="nomePagina" id="calculoMedia">Cálculo de Média e Classificação de Alunos</a><br>
        <a href="/cadastro" name="nomePagina" id="cadastroPessoas">Cadastro de Pessoas</a><br>
    </form>
</body>
</html>